@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

:root {
    --weekly-color: #fcc8b2;

    --light-mode-font-color: #222222;
    --dark-mode-bg-color: #444444;
}

body {
    font-family: monospace;
    margin: 0 8%;

    background-color: var(--weekly-color);
    color: var(--light-mode-font-color);

    /* TODO: Add a dark mode toggle button */
    /* background-color: var(--dark-mode-bg-color);
    color: var(--weekly-color); */
}

.title {
    font-family: "Lobster", sans-serif;
    font-size: 4.1rem;
    font-weight: 400;
    font-style: normal;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    text-decoration: none;
    color: #000000;
    
}

#header {
    color: #eeeeee;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 3%;
    border-radius: 1rem;
    border-width: 0.01rem;
    border-color: var(--light-mode-font-color);
    border-style: solid;
    box-shadow: 0 0 0.5rem var(--light-mode-font-color);
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: column;
}

#title {
    font-size: 2rem;
    font-family: "Roboto Mono";
    margin-bottom: 0.5rem;
    margin: 0.2rem 0 1.2rem 0;
}

#welcome {
    font-size: 1.5rem;
    margin: 0.2rem 0 1.2rem 0;
}

#projects {
    display: inline-flex;
    flex-direction: row;
    width: fit-content;
    flex-wrap: wrap;
    justify-content: center;
    max-width: 100%;
}

.project {
    border-color: #222;
    border-style: solid;
    border-width: 2px;
    margin: 0.2rem;
    border-radius: 0.2rem;
    padding: 0.4rem;
    background-color: rgba(0, 0, 0, 0.1);
    color: white;
    width: 27%;
    text-wrap: wrap;
}

.project button {
    display: block;
    color: var(--weekly-color);
    background-color: var(--dark-mode-bg-color);
    border-color: var(--dark-mode-bg-color);
    border-style: solid;
    border-radius: 0.2rem;
    margin-top: 0.6rem;
    cursor: pointer;
}
.project a {
    text-decoration: none;
}